<div class="p-3  rounded-md shadow-sm grid xl:grid-cols-1 h-full " [ngClass]="stil">
  <div class="flex flex-col">
    @if(!loading){<div class="w-full h-[180px] rounded-md"
      [style.background]="'url(' + this.profilna_slika + ') no-repeat center/cover'">

      <!-- <img [src]="this.profilna_slika" class="block self-center md:self-auto max-w-[150px] max-h-[150px]"> -->


    </div>}
    <div>
      <span class="font-bold text-green-900 text-xl"> {{ cottage.naziv }}</span>
    </div>
    <div class="w-full flex flex-col justify-start">

      <div class="text-neutral-500">{{cottage.usluge.slice(0,30)}}...</div>
      <hr class="border-neutral-500" />
      <div class="flex justify-between flex-wrap">
        <div class="text-neutral-900">
          <span class="text-xl font-bold">€{{ cottage.cenovnik[this.month] }}</span> <span class="font-semibold "> /
            night</span>
        </div>

        <div class="text-neutral-500 text-right">

          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-5 inline-block">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
          </svg>
          <span>{{cottage.mesto}}</span>
        </div>

      </div>
    </div>
  </div>

  <div class="flex items-end xl:justify-end  flex-wrap gap-2 mt-2">
    <ng-content></ng-content>
  </div>
</div>