<app-owner-layout>
  <div class="my-container">



    <div class="mt-4">
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div>

    <h1 class="page-title">Active Reservations</h1>
    <div class="flex flex-col gap-4">
      @for(r of rezervacijeAktivne; track r._id){
      <app-reservation-listing [rezervacija]="r"></app-reservation-listing>
      }
      @if(rezervacijeAktivne.length==0){
      <span>There are no active reservations.</span>
      }
    </div>

    <h1 class="page-title">Pending Reservations</h1>
    <div class="flex flex-col gap-4">
      @for(r of rezervacijeNepotvrdjene; track r._id){
      <app-reservation-listing [rezervacija]="r">
        <!-- overlay -->
        @if(r.modalShown){
        <div class="fixed  inset-0  flex items-center justify-center flex-col bg-black/50 z-20">
          <div class="bg-white p-3 rounded-md w-[60%]">
            <div class="flex justify-between gap-2 xl:flex-row flex-col">
              <div class="form-field flex-1 items-center">
                <div>Denial reason:</div>
                <input type="text" #inputOdbijenica name="odbijenica" />


              </div>

              <button (click)="acceptReservation(inputOdbijenica, true, r)" class="inline-block">Accept</button>
              <button (click)="acceptReservation(inputOdbijenica, false, r)" class="inline-block red">Deny</button>
              <button (click)="r.modalShown = false" class="inline-block red">Exit</button>
            </div>
            <div class="text-red-500">
              {{r.error}}

            </div>
          </div>
        </div>}
        <div class="mt-3">
          <div class="flex justify-between gap-2 xl:flex-row flex-col">
            <div class="form-field flex-1 items-center">
              <div>Denial reason:</div>
              <input type="text" #inputOdbijenica name="odbijenica" />


            </div>

            <button (click)="acceptReservation(inputOdbijenica, true, r)" class="inline-block">Accept</button>
            <button (click)="acceptReservation(inputOdbijenica, false, r)" class="inline-block red">Deny</button>
          </div>
          <div class="text-red-500">
            {{r.error}}

          </div>
        </div>
      </app-reservation-listing>
      }
      @if(rezervacijeNepotvrdjene.length==0){
      <span>There are no pending reservations.</span>
      }
    </div>
    <h1 class="page-title">Finished Reservations</h1>
    <div class="flex flex-col gap-4">
      @for(r of rezervacijeIstekle; track r._id){
      <app-reservation-listing [rezervacija]="r">
        @if(r.prihvacena){

        <div class=" mt-3">
          @if(r.komentar_i_ocena.komentar !== ''){
          <div class="form-field items-center ">

            <div><app-stars [ocena]="r.komentar_i_ocena.ocena"></app-stars></div>
            <div>{{r.komentar_i_ocena.komentar}}</div>
          </div>

          }@else{

          }
        </div>


        }
      </app-reservation-listing>
      }@if(rezervacijeIstekle.length==0){
      <span>There are no finished reservations.</span>
      }
    </div>
  </div>
</app-owner-layout>