<header>

  <nav>
    <ul class=" my-container xl:grid-cols-4 ">
      <li><a routerLink="/tourist/home">My Profile</a></li>
      <li><a routerLink="/tourist/cottages">Cottages</a></li>
      <li><a routerLink="/tourist/my-reservations">My Reservations</a></li>


      <li><a class="cursor-pointer " (click)="logout()">Logout</a></li>
    </ul>

  </nav>
</header>

<main>
  @if(!loading){
  @if(this.user.aktivan==true && this.user.tip == 'turista'){



  <ng-content></ng-content>


  }@else{
  <div class="my-container">
    <h1 class="page-title">Profile Pending Approval</h1>
  </div>
  }
  }
</main>

<footer></footer>