<form #f="ngForm" class="flex flex-col items-start md:flex-row gap-2 md:gap-4" (ngSubmit)="submit(f)" id="updateForm">
  @if(!loading){
  <div class="self-center md:self-auto ">
    <img [src]=" profilna_slika" class="block self-center md:self-auto max-w-[150px]" />
    @if(isAdmin && edit && this.user.profilna_slika !== 'profile_photo.png'){
    <button type="button" (click)="deleteProfilePhoto()" class="red mt-3 text-red-900"><svg
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
        <path fill-rule="evenodd"
          d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z"
          clip-rule="evenodd" />
      </svg></button>
    }
  </div>
  }
  <div class="w-full">

    <div class="form-field">
      <div>First Name: </div>
      <input type="text" name="first_name" id="first_name" placeholder="First Name*" [(ngModel)]="user.ime" required
        [disabled]="!edit">
    </div>
    <div class="form-field">
      <div>Last Name: </div>
      <input type="text" name="last_name" id="last_name" placeholder="Last Name*" [(ngModel)]="user.prezime" required
        [disabled]="!edit">
    </div>

    <div class="form-field">
      <div>Address: </div>
      <input type="text" name="address" id="address" placeholder="Address*" [(ngModel)]="user.adresa" required
        [disabled]="!edit">
    </div>
    <div class="form-field">
      <div>Phone: </div>
      <input type="tel" name="phone" id="phone" pattern="^\+?[0-9]{7,15}$" placeholder="123-45-678*"
        [(ngModel)]="user.kontakt_telefon" required [disabled]="!edit">
    </div>
    <div class="form-field">
      <div>Email: </div>
      <input type="email" name="email" id="email" placeholder="user@mail.com*" pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
        title="Invalid email address" [(ngModel)]="user.email" required [disabled]="!edit">
    </div>
    @if(user.tip=='turista' || isAdmin){
    <div class="form-field">
      <div>Credit Card: </div>
      <input type="text" name="credit_card" id="credit_card" placeholder="Credit card number*"
        [(ngModel)]="user.kreditna_kartica" (input)="validateCreditCard()" [disabled]="!edit" required>
    </div>
    @if(cc_type>=0){<img [src]="images[cc_type]" alt="" width="60px">}
    }


    @if(edit ){
    <div class="form-field">
      <div>Profile Photo: </div>
      <div class="flex relative w-full">
        <input class=" block text-neutral-400" [ngClass]="edit?'cursor-pointer':''" #fileInput type="file" name="file"
          accept=".jpg, .png" (change)="onFileSelected($event)" [disabled]="!edit" />
        <button type="button" (click)="clearFile(fileInput)"
          class="!bg-transparent !border-transparent !p-0 absolute right-0">Clear</button>
      </div>

    </div>
    }
    <div class="text-red-500 self-center">
      {{this.error}}
    </div>
    <div class="flex gap-2 justify-center md:justify-normal mt-3">
      @if(edit ){

      <button type="submit">Submit</button>
      <button type="button" (click)="cancel()" class="red">Cancel</button>

      }
      @else{
      @if(!isAdmin){
      <button type="button" (click)="this.changeEdit(true)" class="orange text-orange-900"> <svg
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
          <path
            d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
          <path
            d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
        </svg> </button>
      }


      }

    </div>

  </div>

</form>