@if(!loading){
@if(tip==='neregistrovan'){
<app-unregistered-layout>
  <div class="my-container grid xl:grid-cols-2 grid-cols-1 gap-4 mt-4">
    <div>
      <app-cottage [cottage]="cottage"></app-cottage>
    </div>
    <div class="w-full h-full">
      <h1 class="page-subtitle !mt-0">Please, login to book this cottage.</h1>

    </div>
  </div>
</app-unregistered-layout>
}

@if(tip==='admin'){
<app-admin-layout>
  <div class="my-container grid xl:grid-cols-2 grid-cols-1 gap-4 mt-4">
    <div>
      <app-cottage [cottage]="cottage"></app-cottage>
    </div>

  </div>
</app-admin-layout>
}

@if(tip==='turista'){
<app-tourist-layout>
  <div class="my-container grid xl:grid-cols-2 grid-cols-1 gap-4 mt-4">
    <div>
      <app-cottage [cottage]="cottage"></app-cottage>
    </div>
    <div class="w-full h-full">
      @if(!blokirana){
      <app-book-steps [cottage]="cottage"></app-book-steps>
      }

    </div>
  </div>

</app-tourist-layout>
}

@if(tip==='vlasnik'){
<app-owner-layout>
  <div class="my-container grid xl:grid-cols-2 grid-cols-1 gap-4 mt-4">
    <div>
      <app-cottage [cottage]="cottage"></app-cottage>
    </div>

  </div>
</app-owner-layout>
}
}